---
name: Release
on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  Release:
    environment:
      name: Release
      url: "https://marketplace.visualstudio.com/items?itemName=dennykorsukewitz.dk4znuny-visualstudiocode"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Install the dependencies
        run: npm i

      - name: Install vsce
        run: npm i -g vsce

      - name: Publish
        run: vsce publish -p ${{ secrets.VSCE_PAT }}